
.main-search{
    position: absolute;
    left: 591px;
    top: 98px;
    width: 900px;
    height: 47px;
    opacity: 1;
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);

    border: 1px solid rgba(56, 56, 56, 1);
}

//  .el-input__inner{
//     &::placeholder{
//         position: relative;
//         font-family: "Noto Sans SC";
//         color: rgba(0, 0, 0, 1) !important;
//         font-size: 18px;
//         font-weight: 400;

//     }
// }

.search-button{
    position: absolute;
    left: 1530px;
    top: 98px;
    width: 107px;
    height: 47px;
    opacity: 1;
    border-radius: 2px;
    background: rgba(0, 126, 55, 1);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 34.75px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    vertical-align: top;
}

.select12{
    position: absolute;
    left: 590.73px;
    top: 215px;
    width: 248.31px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;

    border: 1px solid rgba(0, 0, 0, 0.15);
}

.select12 .el-input{
    width: 246.31px;
    height: 38px;
}

.select12 .el-input__wrapper {
    background-color: rgba(0, 0, 0, 0.04);
 }

.input1{
    position: absolute;
    left: 857px;
    top: 215px;
    width: 778px;
    height: 39px;
    opacity: 1;
    border-radius: 2px;

    border: 1px solid rgba(125, 120, 120, 0.22);

}

.input1 .el-input__wrapper {
    background-color: rgba(222, 213, 213, 0.24);
 }

 .select21{
    position: absolute;
    left: 285px;
    top: 311.17px;
    width: 248.31px;
    height: 38px;
    opacity: 1;
    border-radius: 2px;  
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.select21 .el-input{
    width: 246.31px;
    height: 38px;
}

.select21 .el-input__wrapper {
    background-color: rgba(0, 0, 0, 0.04);
 }

 .select22{
    position: absolute;
    left: 590.73px;
    top: 309.72px;
    width: 248.31px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;

    border: 1px solid rgba(0, 0, 0, 0.15);
}

.select22 .el-input{
    width: 246.31px;
    height: 38px;
}

.select22 .el-input__wrapper {
    background-color: rgba(0, 0, 0, 0.04);
 }

 .input2{
    position: absolute;
    left: 861px;
    top: 310px;
    width: 778px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid rgba(125, 120, 120, 0.22);

}

.input2 .el-input__wrapper {
    background-color: rgba(222, 213, 213, 0.24);
 }

 .button11{
    position: absolute;
    left: 1669px;
    top: 318px;
    width: 30px;
    height: 30px;
    opacity: 1;
 }

 .button12{
    position: absolute;
    left: 1717px;
    top: 317px;
    width: 30px;
    height: 30px;
    opacity: 1;
    background: rgba(212, 48, 48, 1);
 }

 .select31{
    position: absolute;
    left: 285px;
    top: 402.89px;
    width: 248.31px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.select31 .el-input{
    width: 246.31px;
    height: 38px;
}

.select31 .el-input__wrapper {
    background-color: rgba(0, 0, 0, 0.04);
 }

 .select32{
    position: absolute;
    left: 590.73px;
    top: 404.44px;
    width: 248.31px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);


}

.select32 .el-input{
    width: 246.31px;
    height: 38px;
}

.select32 .el-input__wrapper {
    background-color: rgba(0, 0, 0, 0.04);
 }

 .input3{
    position: absolute;
    left: 858px;
    top: 404px;
    width: 778px;
    height: 42px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid rgba(125, 120, 120, 0.22);

}

.input3 .el-input__wrapper {
    background-color: rgba(222, 213, 213, 0.24);
 }

 .button21{
    position: absolute;
    left: 1669px;
    top: 409px;
    width: 30px;
    height: 30px;
    opacity: 1;
    background: rgba(44, 176, 101, 1);
 }

 .button22{
    position: absolute;
    left: 1720px;
    top: 410px;
    width: 30px;
    height: 30px;
    opacity: 1;
    background: rgba(212, 48, 48, 1);
 }

 
 .select41{
    position: absolute;
    left: 285px;
    top: 497.61px;
    width: 248.31px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.select41 .el-input{
    width: 246.31px;
    height: 38px;
}

.select41 .el-input__wrapper {
    background-color: rgba(0, 0, 0, 0.04);
 }

 .select42{
    position: absolute;
    left: 589.18px;
    top: 499.17px;
    width: 248.31px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.select42 .el-input{
    width: 246.31px;
    height: 38px;
}

.select42 .el-input__wrapper {
    background-color: rgba(0, 0, 0, 0.04);
 }

 .input4{
    position: absolute;
    left: 856px;
    top: 499px;
    width: 778px;
    height: 39px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid rgba(125, 120, 120, 0.22);

}

.input4 .el-input__wrapper {
    background-color: rgba(222, 213, 213, 0.24);
 }

 .button31{
    position: absolute;
    left: 1669px;
    top: 504px;
    width: 30px;
    height: 30px;
    opacity: 1;
    background: rgba(44, 176, 101, 1);
 }

 .button32{
    position: absolute;
    left: 1721px;
    top: 504px;
    width: 30px;
    height: 30px;
    opacity: 1;
    background: rgba(212, 48, 48, 1);
 }

 .select52{
    position: absolute;
    left: 589.18px;
    top: 593.89px;
    width: 248.31px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.select52 .el-input{
    width: 246.31px;
    height: 38px;
}

.select52 .el-input__wrapper {
    background-color: rgba(0, 0, 0, 0.04);
 }

 .example-button{
    position: absolute;
    left: 858px;
    top: 595px;
    width: 263.01px;
    height: 39px;
    opacity: 1;
    border-radius: 2px;
    background: rgba(24, 144, 255, 1);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    vertical-align: top;
 }

 .clear-button{
    position: absolute;
    left: 1236.18px;
    top: 595px;
    width: 168.08px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;
    background: rgba(0, 126, 55, 1);
    left: 1299.98px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    vertical-align: top;
 }

 .submit-button{
    position: absolute;
    left: 1464px;
    top: 595px;
    width: 168.08px;
    height: 40px;
    opacity: 1;
    border-radius: 2px;
    background: rgba(0, 126, 55, 1);
    left: 1512px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 28.96px;
    color: rgba(255, 255, 255, 1);
    text-align: justify;
    vertical-align: top;
 }
 

.search-footer{    
    position: absolute;
    left: 0px;
    top: 925px;
    width: 1920px;
    height: 155px;
    opacity: 1;
    background: rgba(0, 126, 55, 1);
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.25);
    
}